@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  background-color: #171717;
  color: white;
  width: 100%;
}

button{
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  border-radius: 1rem;
  color: #A00;
  cursor: pointer;
}


button:focus{
  background-color: aqua;
}
button:hover{
  background-color: aqua;
}