.Contact{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    margin-top: 10rem;
    font-size: x-large;
    letter-spacing: 0.3rem;
    padding-top: 5rem;
}

.Contact-cover{
    position: absolute;
    margin-top: 2rem;
    /* margin-left: 50px; */
    background-color: #171717;
    /* width: 275px; */
    height: 50px;
    opacity: 0.8;
    animation-name: slideright-contact;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}
/* 
.Contact-fieldset{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-color: #A00;
    font-size: 50px;
} */

.Contact-title{
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
}

.Contact-title:before{
    content: "";
    width: 50px;
    height: 1px;
    display: block;
    background-color: #A00;
    margin-left:-50px ;
    position: absolute;
    top:50%;
    
}
.Contact-title::after{
    content: "";
    height: 1px;
    display: block;
    background-color: #A00;
    position: absolute;
    top: 50%;
    right: 0;
    left: 275px;
}

@keyframes slideright-contact {
    0% {margin-left: 325px; width: 0px;}
    25% {margin-left: 256px; width: 70px;}
    50% {margin-left: 187px; width: 138px;}
    75%{margin-left: 119px; width: 207px;}
    100%{margin-left: 50px ; width: 276px;}
}

.feedback{
    display: block;
    text-align: left;
    justify-content: left;
    padding: 3rem;
}

 .feedback button{
   display: block;
   margin: auto;
   /* text-align: center; */
   /* cursor: pointer; */
   /* border-radius: 10px; */
   /* font-size: x-large; */
} 

.contact-or{
    display: block;
    position: relative;
    top: 15rem;
    font-size: 30px;
    letter-spacing: 0.1rem;
}

.contact-social{
    display: block;
    align-content: center;
    padding: 1rem;
    color: white;
    font-size: 30px;
    border-radius: 30%;
    letter-spacing: 0.1rem;
    margin: auto;
    border:  1rem inset;
}

.contact-social-list{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
}